<div class="container about-us-container">
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
      <span class="span-block about-us-header">About Us</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
      <!-- <img class="about-us-img" src="images/about.jpg" /> -->
      <img [imgSrc]="'about-us.jpg'" class="about-us-img" onerror="this.onerror=null;this.src='images/md-placholder.png';"/>
      <!-- https://www.pexels.com/photo/nature-animals-birds-beak-24488/ -->
    </div>
  </div>
  <div class="row about-us-text-div">
    <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
      <p class="about-text"> {{platformName}} is a family owned and operated company that takes pride in our services. 
        <span class="about-us-highlight">We are a locally owned business that currently serves customers in Western Pennsylvania and are continuing to expand our services.</span></p>
      <p class="about-text">We provide a laundry pickup and delivery service to individuals and small businesses that are in need of everyday laundering.
We provide the best quality of service possible that meets each individual or company's needs from offering different types of laundry 
soaps to accommodating pick up and delivery times that best meet your busy schedules. Our old fashioned style delivers the utmost T.L.C. 
for your precious garments and linens, allowing us to give each item the proper focus and treatment needed. Our homemade laundry soap helps to eliminate the 
harsh chemicals that tend to be found in other commercial grade laundry soaps in which to make it a more eco friendly environment.</p>
    </div>
    <div class="hidden-xs hidden-sm col-md-2 col-no-padding">
      <!-- <img class="about-us-img" src="images/us.jpg" /> -->
      <!-- <img class="about-us-img" src="https://www.pexels.com/photo/nature-animals-birds-beak-24488/" /> -->
      <!-- https://www.pexels.com/photo/nature-animals-birds-beak-24488/ -->
    </div>
  </div>
  <div class="row review-section">
    <div class="col-xs-12 review-section-inner">
      <div class="row">
        <div class="reviews-header">Our satisfied customers have said:</div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="review-highlight">
            Best customer service ever!!
          </div>
          <div class="review-text">
            <i>"I highly recommend her services. Clothes were folded and put together so nicely. Pickup and delivery were on time."</i>  -Amy L
          </div>
        </div>
        <div class="col-md-4">
          <div class="review-highlight">
            I highly recommend Roberta!
          </div>
          <div class="review-text">
            <i>"My dirty clothes were picked up from my porch, and came back to my porch all clean, neatly folded and smelling wonderful! Such a nice resource for when I get too busy and the laundry is piling up."</i>  -Sarah J 
          </div>
        </div>
        <div class="col-md-4">
          <div class="review-highlight">
            I couldn't be happier!
          </div>
          <div class="review-text">
            <i>​I am so grateful for the Laundry Ladies. 
  I am allergic to dyes & scents and was able to provide my own soap and dryer balls. Not only that, they did a clean cycle on the washer before washing our clothes & they offered a rushed service for a nominal fee</i>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>