sudo: required
service:
  - docker

before_install:
  - docker build -t flamingoshore/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true flamingoshore/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: docker-react
  env: "DockerReact-env"
  bucket_name: "elasticbeanstalk-us-east-2-563999258802"
  bucket_path: "docker-react"
  on:
    branch: master
  access_key_id: 
    secure: $AWS_ACCESS_KEY
  secret_access_key: 
    secure: "$AWS_SECRET_KEY"