<div class="container-fluid img-overlay">
  <div class="row">
    <div class="img-wrapper">
      <img src="images/splash-4.jpg" class="hidden-sm hidden-md hidden-lg hidden-xl splash-img"/>
      <img src="images/splash-3.jpg" class="hidden-xs splash-img"/>
      <div [hidden]="passwordReset" class="overlay-text">
        <div class="col-xs-12">
          <div class="overlay-text-inner">
            <h1 class="ll-text">Update Password</h1>
            <p>Enter a new password</p>
            <form #forgotPWForm [hidden]="passwordReset" #resetPasswordNgForm="ngForm" (ngSubmit)="onSubmit(resetPasswordNgForm.valid)" novalidate>

              <div class="form-group" [ngClass]="{ 'has-error': resetPasswordNgForm.submitted && !password.valid}">
                <input type="password" class="form-control email-input" placeholder="New Password" name="password" [(ngModel)]="resetPasswordFormDTO.password" #password="ngModel" validateEqual="confirmPassword" reverse="true" required minlength="6">
                <div *ngIf="formErrors.password" class="has-error help-block">{{ formErrors.password }}</div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': resetPasswordNgForm.submitted && !confirmPassword.valid}">
                <input type="password" class="form-control email-input" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="resetPasswordFormDTO.confirmPassword" #confirmPassword="ngModel" validateEqual="password" minlength="6" required>
                <div *ngIf="formErrors.confirmPassword" class="has-error help-block">{{ formErrors.confirmPassword }}</div>
              </div>
              <button type="submit" class="btn btn-primary email-me-btn">Update Password</button>
            </form>
          </div>          
        </div>

      </div>

      <div [hidden]="!passwordReset" class="overlay-text">
        <div class="col-xs-12">
          <div [hidden]="!passwordReset" class="overlay-text-inner">
            <h1 class="ll-text">Password Updated</h1>
            <p>Your password has been updated</p>
            <button type="button" [routerLink]="['/login']" class="btn btn-primary email-me-btn">Continue to Site</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>