.checkout-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.appointment-info-div {
    border: 1px solid;
    border-color: #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;
}

.appointment-info-header-div {

}

.appointment-payment-details-header-div-inner{
    position: relative;
}

.appointment-payment-details-header-text {
    font-size: 24px;
    color: #0B9ED0;
}

.checkout-hr {
    margin-top: 10px;
    margin-bottom: 14px;
}

.services-div {
    padding-left: 0px !important;
}

.service-div {
    padding-left: 0px !important;
    margin-bottom: 20px;
}

.service-div-inner {
    transition: box-shadow 400ms ease;
    -webkit-transition: box-shadow 400ms ease;
    -moz-transition: box-shadow 400ms ease;
    -ms-transition: box-shadow 400ms ease;

    background-color: #FFFFFF;
    cursor: pointer;
    position: relative;
    -webkit-flex-grow: 1;

    display: flex;
}

.service-text {
    padding: 24px;
    padding-left: 0px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;  

    float: left;  
}

.service-name {
    font-size: 14px;
    line-height: 20px;
    color: #1C1B1B;
    font-weight: 600;
    margin-bottom: 8px;

    display: block;
}

/* add elipsis to end of text http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/*/
.service-short-description {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 20px;
  /* max-height = line-height (20) * lines max number (2) */
  max-height: 40px; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.service-short-description:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.service-short-description:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

.service-price-div {
    font-size: 14px;
    line-height: 20px;

    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;

    margin-top: 10px;

}

.service-price {
    color: #282727;
    padding-right: 5px;
    font-size: 14px;
    line-height: 20px;
}

.service-img-div {
    width: 40%;
    float: right;
    margin-top: 20px;
}

.service-img {
    width: 100%;
    height: auto;
    max-width: 176px;

    float: right;
}

.col-no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.margin-btm-sm {
    margin-bottom: 5px;
}

.order-summary-div {
    width: 33.33333333333333333%;
}

.subtotal-div {
    width: 100%;
    margin-bottom: 3px;
}

.booking-fee-div {
    width: 100%;
    margin-bottom: 3px;
}

.info-icon {
    color: #0B9ED0;
    cursor: pointer;
}

.tax-div {
    width: 100%;
    margin-bottom: 3px;
}

.total-div {
    width: 100%;
    margin-bottom: 24px;
}

.total {
    font-size: 16px;
    font-weight: bold;
}

.total-amount {
    font-size: 16px;
    font-weight: bold;
    color: #FFBF00;
}

.complete-order-btn {
    width: 100%;
    font-weight: bold;
}

.appointment-location-details-header-text {
    font-size: 24px;
    color: #0B9ED0;
}

.footer-nav-div { 
    background-color: white;
    text-align: center;

    padding: 15px;
}

.checkout-button {
    width: 100%;
    font-weight: bold;
}

.mobile-row-section {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}

.mobile-total-div {
    width: 100%;
}

.mobile-service-img-div {
    width: 15%
}

.mobile-service-img {
    width: 100%;
    height: auto;
}

.mobile-service-name-qty-div {
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
}

.mobile-service-name-span {
    font-weight: bold;
}

.mobile-service-qty-span {
    color: #0B9ED0;
}

.mobile-service-price-div {
    width: 25%;
    vertical-align: middle;
}

.mobile-service-price {
    
}

.delete-service {
    color: #d9534f;
    width: 100%;
    font-size: 11px;
    cursor: pointer;
    position: absolute;
    left: 150px;
}

.delete-service-mobile {
    text-align: right;
    color: #d9534f;
    width: 100%;
    font-size: 11px;
    cursor: pointer;
    margin-left: 5px;
}

.continue-shopping {
    color: #0066C0;
    cursor: pointer;
    font-size: 11px;
}

.qty-desc {
    color: #555;
}

.customization-div {
    /*width: 50%;*/
}

.additional-options-span {
    color: #999;
}

.checkbox-no-btm-mgn {
    margin-bottom: 0px !important;
}

.checkbox-mgn-top {
    margin-top: 3px !important;
}

.additional-options-mgn {
    /*margin-bottom: 5px;*/
    color: #0b65b1;
}

.appointment-location-details-edit {
    position: absolute;
    bottom: 0;
    right: 0;
}

.edit-color {
    color: #999;
}

.mgn-top-5 {
    margin-top: 5px;
}

.gc-div {
    width: 100%;
    margin-bottom: 10px;
}

.gc-amount {
    font-size: 16px;
    font-weight: bold;
    color: #337ab7; 
}