
<p class="claim-gift-card">
  <span>Redeem a Gift Card</span>
</p>
<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
  <form role="form">
    <div class="form-group">
      <input [(ngModel)]="giftCardNumber" name="giftCardNumber" class="form-control" id="giftCardNumber" placeholder="Gift Card Number">
    </div>
    <button [disabled]="processingRedeem" (click)="redeem();" type="btn" class="btn btn-brand-primary redeem-btn">Redeem 
        <i *ngIf="processingRedeem" class="fa fa-spinner fa-spin spinner-padding" aria-hidden="true"></i>
    </button>
  </form>
</div>