.group-btm-margin {
    margin-bottom: 10px;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}
.additional-options-mobile-header {
    margin-bottom: 5px;
}

.normal-font-weight {
    font-weight: normal;
}

.mobile-service-qty-span {
    color: #0B9ED0;
}

.info-icon {
    color: #0B9ED0 !important;
}