<div class="container-fluid img-overlay">
  <div class="row">
    <div class="img-wrapper">
      <img src="images/splash-5.jpg" class="hidden-md hidden-lg hidden-xl splash-img"/>
      <img src="images/splash-3.jpg" class="hidden-xs hidden-sm splash-img"/>
      <div [hidden]="emailSent" class="overlay-text">
        <div class="col-xs-12">
          <div class="overlay-text-inner">
            <h1 class="ll-text">Forgot Password</h1>
            <p>We will send you an email with instruction on how to reset your password</p>
            <form #forgotPWForm [hidden]="emailSent" #forgotPasswordNgForm="ngForm" (ngSubmit)="onSubmit(forgotPasswordNgForm.valid)" novalidate>

              <div class="form-group" [ngClass]="{ 'has-error': forgotPasswordNgForm.submitted && !email.valid}">
                <input type="text" class="form-control email-input" placeholder="Email" name="email" [(ngModel)]="forgotPasswordFormDTO.email" #email="ngModel" email required>
                <div *ngIf="formErrors.email" class="has-error help-block">{{ formErrors.email }}</div>
              </div>
              <button type="submit" class="btn btn-primary email-me-btn">Email Me</button>
            </form>
          </div>          
        </div>

      </div>

      <div [hidden]="!emailSent" class="overlay-text">
        <div class="col-xs-12">
          <div [hidden]="!emailSent" class="overlay-text-inner">
            <h1 class="ll-text">Email Sent!</h1>
            <p>We sent a message to {{forgotPasswordFormDTO.email}} so you can pick your new password</p>
            <p>Not your email address? <span class="span-lnk" (click)="emailSent=false; forgotPWForm.reset();">Try again</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>